<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">correo</ion-title>
    </ion-toolbar>
  </ion-header>


  
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-button>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>emails</ion-title>
    </ion-toolbar>
 



  
    <ion-content color="light">
      <ion-list [inset]="true">
        <ion-item>
          <ion-label>email de ejemplo bruh</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>te ganaste un charchazo</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>nose es solo una lista de correos que mas</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>ya se me acabaron los titulos</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>pan con manjar</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  
</ion-content>
